.container{
    width: 1750px;
    max-width: 100%;
}
.flex{
    display: flex;
}
.justify-center{
display: flex;
justify-content: center;
}
.justify-space-between{
display: flex;
justify-content: space-between;
}
.text-center{
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-5{
    width: calc(100%/12)*5;
}
.col-6{
    width: calc(100%/12)*6;
}
.col-3{
    width: calc(100%/12)*3;
}
.col-9{
    width: calc(100%/12)*9;
}

